In [20]:
users = [
    ('Maria', 'Greek'), ('Jean', 'Maltese'),
    ('Juan', 'Spanish'), ('Dima', 'Ukrainian'),
    ('Agata', 'Thai'), ('Rafal', 'Polish'),
    ('Diego', 'Turkish'), ('Stan', 'Panamanian'),
    ('John', 'Australian'), ('Frank', 'Belgian'),
    ('Jane', 'Canadian'), ('Paul', 'Argentinian'),
    ('Taylor', 'Danish'), ('Kate', 'American'),
    ('Mark', 'Sri Lankan'), ('Jane', 'Japanese'),
    ('Ted', 'Indian'), ('Jean', 'Egyptian')
]

nationality_to_continents = {
    'Greek': 'Europe', 'Maltese': 'Europe',
    'Spanish': 'Europe', 'Ukrainian': 'Europe',
    'Thai': 'Asia', 'Polish': 'Europe',
    'Turkish': 'Asia', 'Panamanian': 'Central America',
    'Australian': 'Australia', 'Belgian': 'Europe',
    'Canadian': 'North America', 'Argentinian': 'South America',
    'Danish': 'Europe', 'American': 'North America',
    'Sri Lankan': 'Asia', 'Japanese': 'Asia',
    'Indian': 'Asia', 'Egyptian': 'Africa'
}

continents = {}

for name, nationality in users:
    continent = nationality_to_continents.get(nationality)
    if continent:
        continents[continent] = continents.get(continent, 0) + 1

print(f"users_continents = {continents}")

users_continents = {'Europe': 7, 'Asia': 5, 'Central America': 1, 'Australia': 1, 'North America': 2, 'South America': 1, 'Africa': 1}

In [23]:
def remove_sql_specialists(people_list):
   
    filtered_list = []
    for person in people_list:
        name, job_title, salary = person
        if "SQL" not in job_title:
            filtered_list.append(person)
    return filtered_list


new_hires = [
    ('Mark Adams', 'SQL Analyst', 4000),
    ('Leslie Burton', 'HR Specialist', 2300),
    ('Dorothy Castillo', 'UX Designer', 3100)
]

Non_sql_hires = remove_sql_specialists(new_hires)

print("Filtered List (without SQL specialists):")

print(Non_sql_hires)

Filtered List (without SQL specialists):
[('Leslie Burton', 'HR Specialist', 2300), ('Dorothy Castillo', 'UX Designer', 3100)]

In [26]:
user_input = input("Enter a string: ")

Lcount = 0
Dcount = 0

for char in user_input:
    if char.isalpha():         
        Lcount += 1
    elif char.isdigit():       
        Dcount += 1

print("Number of letters:", Lcount)
print("Number of digits:", Dcount)

Enter a string:  Lalitha12345

Number of letters: 7
Number of digits: 5

In [16]:
numbers = []

print("Enter 5 numbers:")
for i in range(5):
    num = float(input(f"Enter numbers {i+1} : "))
    numbers.append(num)

numbers.sort()

median = numbers[2]

print("The median is:", median)

Enter 5 numbers:

Enter numbers 1 :  1
Enter numbers 2 :  2
Enter numbers 3 :  3
Enter numbers 4 :  4
Enter numbers 5 :  5

The median is: 3.0

In [25]:
def even_digited_number(num):
    for digit in str(num):
        if int(digit) % 2 != 0:  
            return False
    return True

result = []

for number in range(100, 401):
    if even_digited_number(number):
        result.append(str(number))  

print(",".join(result))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400